.passenger-details-page-layout {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  margin: 20px 50px;
  .form-section {
    width: 50%;
    margin-top: 17px;
    @media screen and (max-width: 810px) {
      width: 100%;
    }
  }
  .summary-section {
    width: 450px;
    @media screen and (max-width: 810px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 810px) {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.passengers-content-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 120px;
  .passenger-info-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}
.horizontal-timeline .ant-timeline-item-content {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}
.main-card {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 17px 0;
  text-align: center;
}
.ant-card .ant-card-head-title {
  color: #8e2157;
}
.red-head {
  color: #8e2157;
}
.card-bottom-title {
  font-size: 16px;
  text-align: center;
}

.indicators {
  position: absolute;
  display: inline-block;
  width: 51%;
  top: 42%;
  left: 25%;
  line-height: 20px;

  .pathway {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -10px;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border: 1px solid #7016;
      border-radius: 50%;
    }
  }

  .point {
    content: '';
    position: absolute;
    left: 14px;
    right: 14px;
    top: 8px;
    height: 1px;
    background: #a5a5a5;
  }
}
.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
}
.about-flight-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px 0px;
}
.error-message{
  font-size: 12px;
  font-family: unset;
  color: red;
  svg{
    margin-bottom: 5px;
  }
}
.seatBox {
  width: 50%;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-col{
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 12px;
}
.single-item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  background: #efeff0;
  border-radius: 10px;
}
.pay-btn{
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: #8e2157;
  padding: 12px 0px;
  cursor: pointer;
  border-radius: 10px;
}
.conform-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 12px;
  .success-message{
    font-size: 22px;
    font-weight: 500;
    color: #8e2157;
  }
}