.flight-search-form {
  padding-left: 5px;
  padding-right: 5px;
  .ant-form {
    // display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
    :where(.css-dev-only-do-not-override-1km3mtt).ant-select-single
      .ant-select-selector
      .ant-select-selection-search {
      display: flex;
      align-items: center;
    }
    .form-group {
      display: flex;
      flex-direction: row;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: 40%;
    }
  }
  .center-on-mobile {
    @media screen and (max-width: 768px) {
      justify-content: center !important;
    }
  }

  .search-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paddingLR {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-input {
    // height: 55px !important;
    border-radius: 0px !important;
  }
  .ant-select-selector {
    height: 55px !important;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnSearchFlight {
    background-color: #ffa903;
    color: black;
    width: 245px;
    height: 62px;
    font-size: 18px;
    margin-left: 20px;
  }

  .btnCompleteBooking {
    background-color: #ffa903;
    color: black;
    width: 250px;
    height: 60px;
    font-size: 18px;
  }

  .flexEnd {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    .child {
      bottom: -13%;
    }
  }
  @media (max-width: 425px) {
  }

  .ant-popover-inner {
    width: 300px;
  }
  .fontSize20 {
    font-size: 20px;
  }

  .dflex {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #585858;
    font-size: 14px;
  }
  .classColor {
    padding: 5px;
    color: #585858;
    font-size: 14px;
  }
  .ant-select-auto-complete .ant-select-selection-item {
    width: 100%;
  }

  .first-child {
    .ant-select-auto-complete .ant-select-selector {
      border-radius: 6px 0px 0px 6px !important;
    }
  }
  .last-child {
    .ant-input {
      border-radius: 0px 6px 6px 0px !important;
    }
  }
}

.ant-select
  .ant-select-auto-complete
  .css-dev-only-do-not-override-1km3mtt
  .ant-select-single
  .ant-select-show-search {
  width: 100% !important;
}

.showFlightBtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flighiconsize {
  width: 33px;
  padding-right: 5px;
  padding-left: 5px;
}

.place-holder {
  .ant-select-selection-placeholder {
    padding-inline: 10px !important;
  }
}

// .ant-select-selection-placeholder
// {
//   display: flex !important;
//   justify-content: center !important;
// }

.ant-select-dropdown {
  z-index: 99999 !important;
}

.ant-picker-panels {
  z-index: 99900099 !important;
}

.autoCompleteHeight {
  .ant-select-selector {
    height: 62px !important;
  }
  .ant-picker .ant-picker-range {
    height: 62px !important;

  }
  .form-input
  {
    height: 62px !important;
  }
}
