// .card-wrapper {
//   margin: 50px auto;
//   background-color: #ffffff;
//   box-shadow: 0 15px 32px -10px rgb(108 117 125 / 10%), 0 4px 11px -3px rgb(0 0 0 / 25%);
//   height: 35%;
//   width: 65%;

//   @media (max-width: 1200px) {
//     width: 80%;
//   }

//   @media (max-width: 992px) {
//     height: auto;
//     width: 90%;
//   }

//   @media (max-width: 768px) {
//     margin: 30px auto;
//     height: auto;
//     width: 90%;
//   }

//   @media (max-width: 576px) {
//     margin: 20px auto;
//     height: auto;
//     width: 95%;
//   }

//   .tab-container {
//     overflow-x: auto;
//   }
// }

.card-wrapper {
  margin: 50px auto;
  box-shadow: 0 15px 32px -10px rgb(108 117 125 / 10%), 0 4px 11px -3px rgb(0 0 0 / 25%);
  height: 35%;
  width: 65%;
  border-radius: 20px;
  
  
  .ant-tabs-ink-bar {
    display: none;
  }
  
  .ant-tabs-nav{
    border-radius: 40px;
    padding-left: 12px;
  }

  @media (max-width: 1200px) {
    width: 80%;
  }

  @media (max-width: 992px) {
    height: auto;
    width: 90%;
  }

  @media (max-width: 768px) {
    margin: 30px auto;
    height: auto;
    width: 90%;
  }

  @media (max-width: 576px) {
    margin: 20px auto;
    height: auto;
    width: 95%;
  }

  .ant-tabs-nav {
    background: linear-gradient(to left,rgba(128,28,79,1),rgba(82,12,48,1) 70%); 
   }

  .ant-tabs-tab {
    color: #ffffff;

    &:hover {
      color: #ffdd01;
    }

  }
}
