
.ant-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;

  .form-group{
    display: flex;
    flex-direction: row;
   }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 40%;
  }
}
.search-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}