.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  width: fit-content !important;
}
.ant-timeline {
  margin-top: 20px;
  margin-left: -60px;
}
.drawer-top-heading {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
