* {
  padding: 0;
  margin: 0;
  font-family: 'inter';
  box-sizing: border-box;
}
.main_page_width {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
